.mainText{
    position: relative;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainText h1{
    width: 70%;
    color: black;
    font-style: light;
    font-weight: 300;

}
.lowerSection{
    padding: 80px 40px; 
}
.homePictures{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow:auto;
    white-space: nowrap;
    flex-direction: row;
}

.filmStyle{
    object-fit:cover;
}

.usersmagic a:hover{
    color: aqua;
}

@media (max-width:600px){

  
    .mainText{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mainText h1{
        font-size: 18px;
    }
    .lowerSection{
        padding: 40px 10px;
    }
    .homePictures h3{
        font-size: 24px !important;
    }

  
}



.header{
    position: relative;
    display: flex;
    font-size: small;
    color: #3F3F3F;
    padding-left: 40px;
    gap: 35px;
    font-weight: 400;

}

.blockContainer{
    width: 100%;
    margin-left: 40px;
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 50px;
}

.rectangle{
    width: 332px;
    height: 202px;
    left: 0px;
    top: 4px;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    background: rgba(167, 167, 168, 0.2);
    border-radius: 16px;
    opacity: 0.5;
    clip: auto;
    overflow: hidden;
    margin-right: 50px;

}

.circle1{
    position: absolute;
    width: 105px;
    height: 105px;
    background: #2CA8DD;
    filter: blur(50px);
}

.circle2{
    position: absolute;
    width: 105px;
    height: 105px;
    background: #2CA8DD;
    filter: blur(50px);
    margin-left: 140px;
    margin-top: 60px;
}

.circle3{
    position: absolute;
    width: 105px;
    height: 105px;
    background: #2CA8DD;
    filter: blur(50px);
    margin-left: 180px;
    margin-top: 6px;
}

.companyDate{
    display: flex;
    width: 332px;
    font-size: 12px;
    color: #FFFF;
    justify-content: space-between;

}

.companyDate h2{
    font-weight: 100;
}

.oneBlock{
    display: grid;
}
.oneBlock img{
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    margin-top: 20px;
    margin-left: 16px;

}

